.container {
    display: flex;
    justify-content: center;
    align-items: center;
    & .description {
        font-size: 0.8rem;
        margin-right: 0.2rem;
    }
}

@media (max-width: 568px) {
    .container {
        & .description {
            font-size: 0.6rem;
        }
    }
}