.container {
 
    position: relative;
    & .swapButton {
        position: absolute;
        border: none;
        background-color: var(--menuInner);
        color: var(--indicator);
        cursor: pointer;
        font-size: 0.8rem;
        top: 0.2rem;;
        right: 0.2rem;
    }
    & .wrapper {
        width: 100%;
        height: 100%;
    }
}
