
.container {
    width: 70vw;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(max-width: 568px ) {
    .container {
        width: 90vw;
    }
}
@media(min-width: 569px) and (max-width: 900px) {
    .container {
        width: 90vw;
    }
}